.hotelsSection{
    background: #F3F7FE;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hotelWrapper .subHeading{
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    margin-bottom: 16px;
}
.hotelWrapper .subText{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0;   
    max-width: 795px;
}

.CustomButton{
    background-color: var(--primary-btn-color);
    border: none;
    padding: 20px;
    border-radius: 12px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 12px;
    margin-top: 40px;
    max-width: 95px;
}